.container {
    /*Fromatting*/
    display: block;
    max-width: 700px;

    /*Fonting*/
    font-size: 1.14rem;
    line-height: 1.5
}

@media only screen and (max-width: 1200px) and (min-width: 990px){
    .container {
        width: 933px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 989px) and (min-width: 761px){
    .container {
        width: 723px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 760px){
    .container{
        /*Formatting*/
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
    }
}