/*********************************/
/*Snippet modified from W3Schools - https://www.w3schools.com/Css/css_navbar.asp */
/*********************************/
nav ul {
    /*Formatting*/
    margin: 0;
    padding: 0;

    /*List styles*/
    list-style-type: none;
    overflow: hidden;

    /*Color and appearance*/
    background-color: #cccccc;
    opacity: .6;
}

nav li {
    /*Formatting*/
    float: left;

    /*Borders*/
    border-right:1px solid #dddddd;
}

nav li:last-child {
    /*Borders*/
    border-right: none;
}

nav li a {
    /*Formatting*/
    display: block ;
    text-align: center;
    padding: 14px 16px;

    /*Decoration*/
    text-decoration: none;

    /*Color and appearance*/
    color: #000000;
}

nav li a:hover:not(.active) {
    /*Color and appearance*/
    background-color: #aaaaaa;
    color: #3333ff;
}

.active {
    /*Color and appearance */
    background-color: #3333ff;
    color: #ffffff;
}